<app-loading />
<section id="chassi">
	@if (showSidenav()) {
		<app-header (menuToggleEvent)="toggleMenu()" (logoutEvent)="logout()"></app-header>

		@if (isMobile() && !isMenuOpen()) {
			<button id="menu-mobile" color="primary" mat-icon-button (click)="toggleMenu()">
				<mat-icon>menu</mat-icon>
			</button>
		}
		<mat-sidenav-container class="front-menu" autosize [hasBackdrop]="isMobile()">
			<mat-sidenav
				class="menu-vert"
				[opened]="isMenuOpen() || !isMobile()"
				[mode]="isMobile() ? 'over' : 'side'"
				[ngClass]="{ collapsed: !isMenuOpen() }"
			>
				<app-menu [isCollapsed]="!isMenuOpen()"></app-menu>
			</mat-sidenav>
			<mat-sidenav-content class="menu-hor">
				<router-outlet />
			</mat-sidenav-content>
		</mat-sidenav-container>
	} @else {
		<div class="auth-content">
			<router-outlet />
		</div>
	}
</section>
